@media(max-width:1920px) {
    /* .impact__info-body__row {
        justify-content: space-evenly;
    }
    .impact__info-title {
        font-size: 6rem;
    }
    .impact__info-text {
        font-size: 2.6rem;
    } */
    /* .impact__buttom {
        bottom: -100px;
        left: 500px;
    } */
}

@media (max-width:1024px) {
    header {
        width: 100%;
        background-position: right;
    }

    .header__top__row {
        padding-top: 2.6rem;
        display: flex;
        justify-content: space-evenly;
    }

    .header__top__utility {
        margin-left: 2.6rem;
    }

    .header__top__utility__phone {
        margin-right: 8rem;
    }

    .who__item {
        margin-bottom: 12.7rem;
    }

    .gallary__body {
        margin-bottom: 19rem;
    }

    .impact__image {
        position: absolute;
        top: -6.9rem;
        right: 3rem;
        width: 49.8rem;
        height: 31.9rem;
    }

    .our__title {
        margin-bottom: 2.3rem;
    }

    .base-subtitle {
        font-size: 2.6rem;
    }

    .impact__buttom {
        left: 78px;
    }
}

/* media 768px */
@media (max-width:768px) {
    html {
        font-size: 9px;
    }

    header {
        width: 100%;
        background-position: right;
        /* background-attachment: fixed; */
    }

    .header__top__logo img {
        width: 17.4rem;
        height: 4.1rem;
    }

    .header__top__utility__hours {
        margin-left: 0rem;
    }

    .button {
        padding-right: 4rem;
    }

    .button {
        display: inline-block;
        padding: 0.8rem;
        background: url(./../image/button__img/Button\ Treatment\ 40px.png) 128px center no-repeat;
        background-color: #C40B0B;
        padding-right: 4rem;
    }

    .service__row {
        gap: 2rem 2rem;

    }

    .service__col {
        padding: 2rem 1.4rem;
    }

    .make__background::after {
        top: 58.2rem;
        left: 21.8rem;
    }

    .make__form-body {
        padding: 4.3rem 1rem 5.7rem 2rem;
    }

    .make__row {
        column-gap: 4.1rem;
    }

    .make__button {
        padding-right: 4rem;
    }

    .make__button a {
        padding: 0rem;
    }

    .make__max-title {
        font-size: 2.5rem;
    }

    .make__max-number {
        font-size: 6.6rem;
    }

    .gallary__image {
        position: absolute;
        top: 34rem;
        left: 8rem;
    }

    .gallary__who {
        width: 90%;
    }

    .gallary-live {
        right: 10.4rem;
    }

    .our__reviews-row-col {
        padding: 5rem 1.4rem 4rem 2.3rem;
    }

    .impact__image {
        top: -9.9rem;
        right: 7rem;
        width: 37.8rem;
        height: auto;
    }

    .impact__info-body__row {
        margin-left: 2.3rem;
    }

    .impact__info-body__img {
        width: 39%;
    }

    .impact__info-title {
        font-size: 2.6rem;
    }

    .impact__buttom-body {
        padding: 2.3rem 2.6rem;
    }

    .impact__buttom {
        left: 5rem;
    }

    .impact__buttom-desc p {
        width: 50.2rem;
        font-family: Roboto;
        font-weight: 900;
        font-size: 2rem;
    }

    .nemo__body {
        background-position: left;
    }

}

/* media 425px */
@media(max-width:425px) {

    /* burger */
    .nav__body {
        transform: translateY(-200%);
        transition: all .7s;
    }

    .nav__body.nav__body--active {
        transform: translateY(0%);
    }

    .animate-charcter {
        text-transform: uppercase;
        background-image: linear-gradient(-225deg,
                #3b39ce 0%,
                #7a2010 29%,
                #ff1361 67%,
                #bbc2ab 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    /* burger */
    /* burger */
    #nav-icon {
        width: 50px;
        height: 35px;
        position: absolute;
        top: 23px;
        left: 15px;
        margin: 20px auto;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: #f54040;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2) {
        top: 18px;
    }

    #nav-icon span:nth-child(3) {
        top: 36px;
    }

    #nav-icon.open span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -70px;
    }

    #nav-icon.open span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }

    /* /burger */
    .title {
        font-size: 2.2rem;
    }

    .text {
        font-size: 1.7rem;
        line-height: 122%;
    }

    .header__top__logo {
        margin-top: 5rem;
    }

    .header__top__row {
        align-items: center;
    }

    .header__top__utility__row {
        flex-direction: column;
    }

    .header__top__utility {
        margin-top: 8px;
    }

    .header__top__utility__hours, .header__top__utility__phone {
        background-position-y: 6px;
    }

    .header__top__utility__phone {
        margin-left: -1.3rem;
        margin-bottom: 2rem;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        /* height: 50vh; */
        width: 100vw;
    }

    .nav__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .nav__body {
        margin-top: 0;
        background-color: #ffffff;
        height: 50vh;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__link:not(:last-child) {
        margin-right: 0rem;
    }

    .nav__link a {
        font-size: 2.4rem;
        padding-top: 1rem;
        line-height: 140%;
    }

    .nav__item {
        width: 100%;
    }

    .nav__item-row {
        display: flex;
        justify-content: space-evenly;
    }

    .nav__search {
        width: 11%;
    }

    .nav__shopping {
        background: url(./../image/nav__item/Ellipse\ 1.jpg) 0.7rem 0 no-repeat;
        width: 10%;
    }

    .who__image {
        top: -17px;
        right: 32px;
        width: 125%;
    }

    .who__item {
        padding: 10rem 8.7rem 18.4rem 8.7rem;
    }

    .who__item {
        margin-bottom: 3.7rem;
    }

    .promise__row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .promise__col {
        margin-top: 2rem;
    }

    .nemo__text p {
        font-size: 2.6rem;
    }

    .nemo__body {
        background-position: -128px;
    }

    .nemo__text p {
        margin-top: 3.8rem;

    }

    .btn {
        top: 60px;
        left: 149px;
    }

    .service__row {
        grid-template-columns: repeat(1, 1fr);
    }

    .make__form-body {
        max-width: 44.5rem;
    }

    .make__form-textarea {
        width: 40rem;
    }

    .make__button-position {
        padding-right: 1.7rem;
    }

    .make__button--center {
        justify-content: center;
    }

    .gullary__list {
        flex-direction: column;
        align-items: center;
    }

    .gullary__list a {
        font-size: 2.6rem;
    }

    .gallary__body {
        margin-bottom: 5rem;
    }

    /* gallary */
    .gallary__image {
        position: absolute;
        top: 43rem;
        left: 4rem;
    }

    .gallary-live {
        top: 0;
        right: 3.4rem;
    }

    /* our */
    .box__row {
        display: flex;
        flex-wrap: wrap;
    }

    /* impact */
    .impact {
        margin-bottom: 85px;
    }

    .impact__image {
        right: 4.5rem;
    }

    .impact__info-body__row {
        flex-wrap: wrap;
    }

    .impact__info-body__col {
        width: 17.7rem;
        margin-right: 2.4rem;
    }

    .impact__info-body__col {
        margin-top: 4.3rem;

    }

    .impact__buttom {
        left: 1rem;
    }

    .impact__buttom-body {
        display: flex;
        flex-wrap: wrap;
        max-width: 405px;
    }

    .impact__buttom-desc p {
        text-align: center;
        width: 100%;
    }

    .button-nemo {
        margin-left: 94px;
        margin-top: 20px;
    }

    /* footer */
    .fotter__row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .fotter__col3, .fotter__col2, .fotter__col1 {
        padding-top: 3.3rem;
    }

    .fotter__col-title {
        font-size: 3.4rem;
        text-align: center;
    }

    .fotter__col2-title {
        margin-left: 20px;
    }

    .fotter-info {
        font-size: 2rem;
    }

    .fotter__nav-link {
        font-size: 2.4rem;
    }

    .fotter__nav-block2 {
        padding-top: 8rem;
        margin-left: -7.3rem;
    }

    .fotter__logo {
        margin-bottom: 2.3rem;
        margin-left: 7rem;
    }

    .fotter__col-text {
        max-width: 34.8rem;
        font-size: 2rem;
    }

    .fotter__list {
        column-gap: 8.8rem;
        align-items: center;
    }

}

/* media 375 */
@media (max-width: 375px) {
    .nemo__text p {
        margin-top: 3.8rem;
        padding-left: 37px;
        text-align: center;
    }

    .btn {
        top: 60px;
        left: 170px;
    }

    .make__title {
        font-size: 2.6rem;
    }

    .make__form-textarea {
        width: 34rem;
    }

    .gallary__item {
        position: relative;
        padding: 3rem 1.7rem 0rem 1.7rem;
        margin-top: -11.6rem;
        margin-bottom: 28.7rem;
    }

    .base-title {
        font-size: 1.8rem;
    }

    .gallary__body {
        min-height: 60rem;

    }

    .gallary__image {
        top: 34rem;
    }

    .impact__image {
        right: 2rem;
    }

    .impact__info-body__col {
        width: 15.7rem;
    }

    .impact__buttom-body {
        max-width: 357px;
    }

    .button-nemo {
        margin-left: 71px;
    }

    .fotter__item {
        margin-bottom: 2.8rem;
    }

    .fotter__list {
        margin-bottom: 1rem;
    }
}