/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

/*  */
/* Reset and base styles  */
html {
    font-size: 10px;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */

}

a:hover {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    font-size: 1.6rem;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

a {
    display: inline-block;
    color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

.none {
    display: none;
}

/* ====== */
.wrapper {}


header {
    position: relative;
    z-index: 1;
    background-image: url('./../image/background/BG\ Image.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    /* background-attachment: fixed; */
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {}

.header__body {}

.header__top {}

.header__top__row {
    padding-top: 2.6rem;
    display: flex;
    justify-content: space-between;


}

.header__top__logo  {
    width: 17.4rem;
    height: 4.1rem;
}

.header__top__utility {
    margin-left: 23.6rem;
}

.header__top__utility__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__top__utility__hours {
    background: url('./../image/icon/access_time_24px.svg') no-repeat;
    line-height: 2.4rem;
    padding-left: 3rem;
}

.header__top__utility__hours__row {
    display: flex;
    flex-direction: column;
    margin-right: 1.875rem;
}


.header__top__utility__hours__row__title {}

.title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 183%;


    display: flex;
    align-items: center;
    letter-spacing: 0.15px;


    color: #FFFFFF;
}

.header__top__utility__hours__row__text {}

.text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 183%;

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: #FFFFFF;
}

.header__top__utility__phone {
    margin-right: 3rem;
    background: url('./../image/icon/phone_24px.svg') no-repeat;
    line-height: 2.4rem;
    padding-left: 3rem;
}

.header__top__utility__phone__row {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;

}

.header__top__utility__button {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.button {
    padding: 0.8rem;
    background: url('./../image/button__img/Button\ Treatment\ 40px.png') 15rem center no-repeat;
    background-color: #C40B0B;
    padding-right: 4rem;
}

.button--min {
    padding: 0.8rem;
    background: url('./../image/button__img/Button\ Treatment\ 40px.png') 8rem center no-repeat;
    background-color: #C40B0B;
    padding-right: 4rem;
}

/* nav */

.nav {}

.nav__body {
    margin-top: 4rem;
    background-color: #FFFFFF;
}

.nav__row {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 1.8rem;
}

.nav__list {}

.nav__link:not(:last-child) {
    margin-right: 3.7rem;
}

.nav__link a {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: #02133C;
}

.nav__search {}

.nav__shopping {
    background: url('./../image/nav__item/Ellipse\ 1.jpg') 0.7rem 0 no-repeat;
}

/* nav*/

/* hero */
.hero__body {
    margin-top: 14.3rem;
    max-width: 58.3rem;
    padding-bottom: 29.5rem;
}

.hero__text {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 100%;
    margin-bottom: 4.8rem;
    color: #FFFFFF;
}

.button {
    display: inline-block;
    padding: 0.8rem;
    background: url('./../image/button__img/Button\ Treatment\ 40px.png') 150px center no-repeat;
    background-color: #C40B0B;
    padding-right: 4rem;
}

/* /hero */
/* who======= */
.who {}

.who__body {
    position: relative;
    z-index: 99;
    background-color: #FFFFFF;
}

.container {}

.who__item {
    padding: 10rem 8.7rem 35.4rem 8.7rem;
    margin-top: -11.6rem;
    margin-bottom: 28.7rem;
    background: url('./../image/who/background/Gears.png') right top no-repeat;

}

.who__title {
    margin-bottom: 3.3rem;
}

.who__sub-title {
    margin-bottom: 3.6rem;
}

.base-title {
    background: url('./../image/who/Overline\ Mark\ \(2\).svg') -0.6rem center no-repeat;
    padding-left: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.4rem;

    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #4B4B4B;
}


.base-subtitle {
    /* padding-right: 350px; */
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;

    color: #02133C;
}

.who__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin-bottom: 5.4rem;
}

.who__image {
    position: relative;
}

.image__who {
    position: absolute;
    top: 0;
    left: 0;
}

/* ====== */
.promise {}

.promise__body {
    margin-bottom: 12.4rem;
}

.promise__item {}

.promise__title {
    margin-bottom: 3.3rem;
}


.promise__sub-title {
    margin-bottom: 6.8rem;
}



.promise__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.promise__col {
    display: flex;
    align-items: flex-start;
    column-gap: 2.3rem;
}

.promise__col-title {
    padding-bottom: 2rem;
}

.col-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 137%;
    color: #02133C;
}


.col-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 154%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

/*nemo*/
.nemo {}

.nemo__body {
    background: url('./../image/nemo/BG\ Image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 50rem;
    margin-bottom: 10.9rem;

}

.container {}

.nemo__desc {
    display: flex;
    justify-content: flex-end;
    padding-top: 10rem;
}

.nemo__item {}

.nemo__text p {
    width: 41.1rem;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;
    color: #FFFFFF;

    margin-right: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 2.6rem;
}

.nemo__link {
    position: relative;
    background-color: white;
    height: 8.5rem;
    width: 8.5rem;
    padding: 0.7rem;
    border-radius: 5rem;
    text-align: center;
}

.nemo__link--img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.btn {
    position: relative;
    z-index: 99;
}

.btn:hover::after {
    opacity: 0;
    transform: scale(1.5);

}

.btn::after {
    content: '';
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.8s;
}

/* =======service */
.service {}

.container {}

.service__body {
    position: relative;
    margin-bottom: 11.7rem;
}

.service__body .service-bg {
    position: absolute;
    top: -10rem;
    left: -7rem;
    z-index: -1;
}


.service__item {
    margin-bottom: 7.8rem;
}

.service__title {
    margin-bottom: 3.3rem;
}

.base-title {}

.service__sub-title {}

.base-subtitle {}

.service__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 2.5rem 2.5rem;
    margin-bottom: 6.6rem;
}

.service__col {
    background-color: #FFFFFF;
    padding: 5rem 4.4rem;
    transition: filter 0.2s ease-in;
}

.service__col:hover {
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));

}

.service___item {}

.service-image {
    margin-bottom: 3.3rem;
}

.service__col-title {
    margin-bottom: 2rem;
}

.col-title {}

.service__col-text {}

.col-text {}

.promise___item {}

.service__block-centre {
    display: flex;
    justify-content: center;
}

.service__button {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 200%;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    text-align: center;

    color: #FFFFFF;

}

/* ====main */
.make__background {
    max-width: 144rem;
    margin: 0 auto;
    background-color: #02133C;
    background-image: url("./../image/make__bg/Gears\ \(2\).png");
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    z-index: 1;

}

.make__body {}

.make__background::after {
    content: "";
    position: absolute;
    background-image: url("./../image/make__bg/Gears\ \(3\).png");
    background-repeat: no-repeat;
    top: 45.2rem;
    left: -1.2rem;
    z-index: -1;
    width: 64.2rem;
    height: 45rem;
}

.make__row {
    display: flex;
    align-items: center;
    column-gap: 11.1rem;
    padding-top: 13rem;
    padding-bottom: 21rem;
    display: flex;
}



.make__form-body {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 4.3rem 1rem 5.7rem 5rem;
}

.make__form input[type=text], [type=email], .make__form-textarea {
    width: 22.4rem;
    height: 4.8rem;
    background: #F5F5F5;
}

.make__form {}

.make__title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;
    text-align: center;

    color: #02133C;
    margin-top: 7.6rem;
    margin-bottom: 4.3rem;
}

.make__form-body {
    background: #FFFFFF;
    max-width: 58.5rem;
}

.make__form-body form {
    margin-bottom: 3.9rem;

}

.make__form-body * {
    padding: 0px 0.7rem;
}

.make__form-body .make__form-textarea {
    padding: 1rem 0.7rem;
}




.make__form-name {
    margin-right: 2rem;
    margin-bottom: 2.2rem;
}

.make__form-email {
    margin-right: 2rem;
    margin-bottom: 2.2rem;
}

.make__form-service {
    margin-right: 2rem;
    margin-bottom: 2.2rem;
}

.make__form-textarea {
    width: 47rem;
    height: 18rem;
}

.make__form-number {
    margin-right: 2rem;
    margin-bottom: 2.2rem;
}

.make textarea, input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    letter-spacing: 0.15px;
    color: #959595;
}


.make__button-position {
    display: flex;
    justify-content: flex-end;
    padding-right: 4.7rem;
}

.make__button {

    font-weight: 700;
    font-size: 1.2rem;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    padding: 0.9rem 0rem;
    padding-right: 3.7rem;
    color: #FFFFFF;
}
.impact__button{
    
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    padding: 0.9rem 1rem;
    padding-right: 3.7rem;
    color: #FFFFFF;
}

.button {}

.make__max {
    flex-basis: 32.4rem;
    row-gap: 4.6rem;
}


.make__max-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3rem;
    line-height: 120%;
    text-align: center;
    margin-bottom: 4.6rem;

    color: #FFFFFF;
}

.make__max-number {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 9.6rem;
    line-height: 58%;
    text-align: center;
    color: #C40B0B;
    margin-bottom: 4.6rem;
}

.make__max-text {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1.9rem;
    line-height: 137%;

    text-align: center;
    color: #FFFFFF;
}

/* gallary */
.gallary {}

.container {}

.gallary__body {
    margin-bottom: 24rem;
    position: relative;
    min-height: 70rem;
    z-index: 99;
    background-color: #FFFFFF;
}

.gallary__item {
    position: relative;
    padding: 10rem 8.7rem 0rem 8.7rem;
    margin-top: -11.6rem;
    margin-bottom: 28.7rem;

}

.gallary__title {
    margin-bottom: 3.3rem;
}

.gallary__sub-title {
    margin-bottom: 5.5rem;
}

.gullary__media {
    max-width: 84.6rem;
}

.gullary__list {
    display: flex;
    justify-content: space-evenly;
    min-height: 4.4rem;
    margin-bottom: 5rem;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.493);
}

.gullary__list a {
    font-size: 1.6rem;
    color: #02133C;
    column-gap: 9.8rem;
}

#gallary:hover {
    color: red;
}

#bay_1:hover {
    color: red;
}

#bay_2:hover {
    color: red;
}

#bay_2 {
    position: relative;
}

#bay_2::after {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: -0.8rem;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: green;
}

#bay_3 {
    position: relative;
}

#bay_3::after {
    position: absolute;
    content: "";
    top: -0.7rem;
    right: -0.8rem;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: green;
}

#bay_3:hover {
    color: red;
}


.gallary__image {
    position: absolute;
    top: 34rem;

}

.gallary-live {
    position: absolute;
    top: 3rem;
    right: 5.4rem;
}

.gallary__who {
    width: 100%;
}

.gallary__who::after {
    content: "";
    background-image: url("./../image/gullary/Icon\ Live.png");

    width: 5rem;
    height: 3rem;
    position: relative;
    z-index: 2;
    top: -5rem;
    left: -4rem;
}

/* our */

.our {}

.our__body {}

.our__title {
    margin-bottom: 3.3rem;
}

.our__subtitle {
    max-width: 32.4rem;

}

.box {
    margin-bottom: 13rem;
}

.box__row {
    display: flex;

    flex: 33.333%;
}

.box__top {}

.our__reviews {}

.our__reviews-row {
    display: flex;
}

.our__reviews-row-col {
    display: flex;
    flex-direction: column;
    max-width: 32.4rem;
    padding: 5rem 4.4rem 4rem 4.3rem;
    flex: 0 1;
    flex: 50%;
}

.col__text {
    margin-bottom: 3rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.col__review {
    display: flex;
    align-items: center;
}

.col__avatar {}

.col__name {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;

    letter-spacing: 0.15px;
    color: #02133C;
    margin-left: 1.7rem;
}

/* impact */
.impact {

    margin-bottom: 137px;
}

.impact__container {
    position: relative;
    max-width: 197rem;
    margin: 0 auto;
    padding: 0rem 1.5rem;
    width: 100%;
    background-image: url('./../image/impact/background-impact.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60.8rem;
    width: 100%;
}

/* .impact__container::after {
    position: absolute;
    top: -6.5rem;
    right: 25rem;
    content: "";
    width: 49.8rem;
    height: 31.5rem;
    background: url("./../image/fotter/Image.png") 0 0 no-repeat;

} */

.impact__item {
    padding: 11.8rem 0rem 0rem 6rem;
}

.impact__title {
    color: #D5D5D5;
}

.impact__subtitle {
    margin-top: 3.1rem;
    margin-left: 6rem;
    max-width: 41.1rem;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;
    color: #FFFFFF;
}

.impact__info-body {}

.impact__image{
    position: absolute;
    top: -6.5rem;
    right: 25rem;
    width: 49.8rem;
    height: 31.9rem;
}

.impact__info-body__row {
    display: flex;
    /* justify-content: space-evenly; */
    margin-left: 12.3rem;
}

.impact__info-body__col {
    display: flex;
    align-items: center;
    margin-top: 7.3rem;
    width: 23.7rem;
    margin-right: 2.4rem;
}

.impact__info-body__img {}

.impact__info-desck {
    margin-left: 1.1rem;
}

.impact__info-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 117%;

    color: #C40B0B;

    margin-bottom: 0.3rem;
}

.impact__info-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}

.impact__buttom {
    max-width: 1020px;
    position: absolute;
    bottom: -50px;
    left: 227px;
}

.impact__buttom-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 4.3rem 7.6rem;
}

.impact__buttom-desc p {
    width: 56.2rem;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 125%;

    color: #02133C;
}

.make__button {}

.button {}

/* /impact */

/* fotter */
.fotter__item {
    background-color: rgba(128, 128, 128, 0.24);
    margin-bottom: 9.8rem;
}

.container {}

.fotter__body {}

.fotter__row {
    display: flex;
    justify-content: space-evenly;
}

.fotter__col1 {
    padding-top: 7.8rem;
}

.fotter__col2 {
    display: flex;
    padding-top: 9.3rem;
}

.fotter__nav-block2 {
    /* padding-top: 143px; */
}

.fotter__col3 {
    padding-top: 9.3rem;
}

.fotter__logo {
    margin-bottom: 2.3rem;
}

.fotter__col-text {
    max-width: 22.8rem;
    margin-bottom: 3.3rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.fotter__list {
    display: flex;
    column-gap: 1.8rem;
}

.fotter__col2 {}

.fotter__nav-block1 {}

.fotter__col-title {
    margin-bottom: 2.8rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.fotter__nav-list {}

.fotter__nav-link {
    margin-bottom: 1.2rem;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 157%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

.fotter__nav-block2 {
    padding-top: 5rem;
    margin-left: 3.7rem;
}

.fotter__col-title {}

.fotter__list-contact {
    max-width: 20rem;
}

.fotter-info {
    margin-bottom: 1.6rem;
    padding-left: 3.4rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    letter-spacing: 0.15px;
    color: #4B4B4B;
}

#place {
    background: url("./../image/fotter/info/place_24px.svg");
    background-position: 0rem 0.3rem;
    background-repeat: no-repeat;
}

#phone {
    background: url("./../image/fotter/info/smartphone_24px.svg");
    background-position: 0rem 0.3rem;
    background-repeat: no-repeat;
}

#email {
    background: url("./../image/fotter/info/email_24px.svg");
    background-position: 0rem 0.3rem;
    background-repeat: no-repeat;
}

#day {
    background: url("./../image/fotter/info/timer_24px.svg");
    background-position: 0rem 0.3rem;
    background-repeat: no-repeat;
}

/* copy */
.copy {
    background-color: rgba(2, 19, 60, 1);
}

.copy__body {
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline, .terms {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #959595;
}